* {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: calc(60% +0.8vmin);
}

.header{
    max-width:100rem;
    padding: 10px;
    margin: auto;
}
.alldisplay{
    /* padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px; */
    font-family : “Lucida Console”, Monaco, monospace
}

.listPost{
    width: 100%;
    height: 15.625rem;
    /* border: 1px solid #555; */
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.imgPost{
    width: 100%;
    height: 150px;
}

.imguser{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    
}


.postionimg{
    border-left: 1px solid #555;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.postiontext{
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: 800;
}
.postionloc{
    display: flex;
    text-align: center;
    justify-content: center;
}

.card{
    max-width:100rem;
    padding: 10px;
    margin: auto;
}

@media screen and (max-width: 600px) {

    
    .postionimg{
        display: flex;
        text-align: center;
        align-items: center;
        border-top: 1px solid #555;
        border-left: none;
        justify-content: start;
        flex-direction: row;
    }

    .listPost{
        width: 100%;
        height: auto;
        /* border: 1px solid #555; */
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .postiontext{
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 1.5rem;
        font-size: 18px;
        font-weight: 800;
    }
  }
  
  .footer{
      max-width: 100rem;
      padding: 10px;
      justify-content: center;
      display: flex;
      margin: auto;
  }

  .nameAuthor {
    color: blue;
    }

    .datePost{
        font-style: italic;
    }
  

