.headerTitle{
    height: 100%;
    width: 100%;
    background-color: blue;
    
}

#labelTitle{
    font-size: 40px;
    color: #fff;
    padding-left: 20px;
    font-weight: 900;
}

.btnhelpcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showField {
    height: 90vh;
}

.pokemonPic {
    position: absolute;
}

.boxRun{
    background-color: #000;
    opacity: 0.8;
    padding-left: 0;
}

#btndisplay {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 50px;
    height: 30px;
}
#listmenu {
    list-style-type: none;
    margin: 15px 0px 0px 10px;
    padding: 0;
    width: 95%;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 5px;
  }
    
  li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    font-weight: 800;
  }
  
  li a:hover {
    background-color: #555;
    color: white;
  }

.btn-arrow {
    color: #fff;
    background-color: #797D7F;
    border-color: #797D7F;
}

.row{
    --bs-gutter-x:0;
}

.boxshowRunclick{
    background-color: #555;
    height: 180px;
    font-weight: 700;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.labelnameMove{
    padding-left: 25px;
    padding-top: 20px;
}

.labelnameX{
    padding-left: 25px;
}

.clickLeft{
    margin-left: 25px;
}

.clickUp{
    margin-bottom: 5px;
}

#btnmagika{
    border-bottom: none;
}
