#pic1 {
    width: 100px;
    height: 200px;
    background-color: red;
    position: relative;
    animation: example1 5s infinite;
    position: absolute;
  }

  #pic2 {
    width: 100px;
    height: 200px;
    background-color: red;
    position: relative;
    animation: example2 5s infinite;
    position: absolute;
  }

  #pic3 {
    width: 100px;
    height: 200px;
    background-color: red;
    position: relative;
    animation: example3 5s infinite;
    position: absolute;
  }

  #pic4 {
    width: 100px;
    height: 200px;
    background-color: red;
    position: relative;
    animation: example4 5s infinite;
    position: absolute;
  }

  #pic5 {
    width: 100px;
    height: 200px;
    background-color: red;
    position: relative;
    animation: example5 5s infinite;
    position: absolute;
  }

  #pic6 {
    width: 100px;
    height: 200px;
    background-color: red;
    position: relative;
    animation: example6 5s infinite;
    position: absolute;
  }

  #pic7 {
    width: 100px;
    height: 200px;
    background-color: red;
    position: relative;
    animation: example7 5s infinite;
    position: absolute;
  }

  #pic8 {
    width: 100px;
    height: 200px;
    background-color: red;
    position: relative;
    animation: example8 5s infinite;
    position: absolute;
  }

  #pic9 {
    width: 100px;
    height: 200px;
    background-color: red;
    position: relative;
    animation: example9 5s infinite;
    position: absolute;
  }
  
  @keyframes example1 {
    0%   {background-color:red; left:0px; top:0px;}
    100%  {background-color:red; left:90%; top:130px; height: 600px;}
  }

  @keyframes example2 {
    0%   {background-color:red; left:0px; top:0px;}
    100%  {background-color:red; left:80%; top:250px; height: 600px;}
  }

  @keyframes example3 {
    0%   {background-color:red; left:0px; top:0px;}
    100%  {background-color:red; left:70%; top:180px; height: 500px;}
  }

  @keyframes example4 {
    0%   {background-color:#8E44AD; left:0px; top:0px;}
    100%  {background-color:#8E44AD; left:60%; top:250px; height: 450px;}
  }

  @keyframes example5 {
    0%   {background-color:#8E44AD; left:0px; top:0px;}
    100%  {background-color:#8E44AD; left:50%; top:350px; height: 400px;}
  }

  @keyframes example6 {
    0%   {background-color:#8E44AD; left:0px; top:0px;}
    100%  {background-color:#8E44AD; left:40%; top:250px; height: 300px;}
  }

  @keyframes example7 {
    0%   {background-color:#000080; left:0px; top:0px;}
    100%  {background-color:#000080; left:30%; top:180px; height: 300px;}
  }

  @keyframes example8 {
    0%   {background-color:#000080; left:0px; top:0px;}
    100%  {background-color:#000080; left:20%; top:230px; height: 300px;}
  }

  @keyframes example9 {
    0%   {background-color:#000080; left:0px; top:0px;}
    100%  {background-color:#000080; left:10%; top:320px; height: 300px;}
  }